@model LinkingLogsWebApp.Views.ViewModels.ViewBidModel

@{
    ViewData["Title"] = "ViewBids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1>View Bids</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Bidder
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JobBids[0].AmountBid)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.JobBids.ToList().Count < 1)
                    {

                    }
                    else
                    {
                        @foreach (var item in Model.JobBids.ToList())
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.Trucker.FirstName) @Html.Raw(item.Trucker.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AmountBid)
                                </td>
                                <td>
                                    <a asp-controller="JobBids" asp-action="ApproveBid" asp-route-id="@item.JobBidId">Approve</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
