@model IEnumerable<LinkingLogsWebApp.Models.Job>

@{
    ViewData["Title"] = "PendingJobs";
    Layout = "~/Views/Shared/_TruckerLayout.cshtml";
}
    <div class="container-fluid" style="margin-bottom:100px;">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row ll-form-shadow">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <h2 class="ll-form-header">Pending Bids</h2>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().JobId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().Site)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().WoodType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().Mill)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.JobId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Site.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WoodType.Type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Mill.Name)
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

